fastapi
uvicorn
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
apscheduler
requests
feedparser
google-genai
groq
openai
python-multipart
PyJWT
pydantic
sqlalchemy
psycopg2-binary
authlib
httpx
itsdangerous
resend